section.prices{
    text-align: center;
    padding: 50px 20px;
}

.abonnements {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.abonnement{
    
    width: 25%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #007BFF;
  }

  .abonnement > h3, p{
      color: white;
  }

  
/* Media Queries */

/* Pour les écrans jusqu'à 900px de large */
@media (max-width: 900px) {
    section.prices .abonnements .abonnement {
        flex-basis: calc(50% - 20px); /* Ajustez le 20px si votre gap est différent */
    }
  }
  
  /* Pour les écrans jusqu'à 600px de large */
  @media (max-width: 600px) {
    section.prices .abonnements .abonnement {
        flex-basis: 100%;
    }
  }